.card__container {
  transform: inherit;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  --button-box-shadow: #{hsla(0, 0, 5%, 0.25)};
  box-shadow: 0 0.5rem 1.5rem var(--button-box-shadow);
}
