@import "../../_abstract.scss";

:host::ng-deep .card--back {
  transform: rotateY(180deg);
  transition: all 0.6s;
}

// Not nested with .card--back because it can't be done
:host(.card--flipped)::ng-deep .card--back {
  transform: rotateY(0);
}

:host::ng-deep .card--front {
  transform: rotateY(0);
  transition: all 0.6s;
}

:host(.card--flipped)::ng-deep .card--front {
  transform: rotateY(-180deg);
}

.card__container {
  position: relative;
  width: inherit;
  height: inherit;
  perspective: 150rem;
}

.flip-button--front {
  display: block;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);

  color: var(--color-primary);
  font-size: 6rem;
  font-family: $font-primary;
  border: none;
  padding: 0.5rem 0.5rem;
  transition: all 0.6s;

  :host(.card--flipped) & {
    transform: translateY(-50%) rotateY(180deg);
  }
}
