<nav class="nav">
  <ul class="nav__container">
    <li class="nav__item">
      <app-nav-button [text]="'Home'"></app-nav-button>
    </li>
    <li class="nav__item">
      <app-nav-button [text]="'Portfolio'"></app-nav-button>
    </li>
    <li class="nav__item">
      <app-nav-button [text]="'About'"></app-nav-button>
    </li>
    <li class="nav__item">
      <app-nav-button [text]="'Contact'"></app-nav-button>
    </li>
  </ul>
</nav>
<div class="site-container">
  <header class="header">
    <div class="hero">
      <h1 class="hero__heading">Coralynn Colombe</h1>
      <h2 class="hero__sub-heading">Thoughtful design and development</h2>
    </div>
  </header>

  <div class="benefits benefits--1">
    <h2 class="header--2 benefits--before">Traits</h2>
    <h3 class="benefits__header">Always Learning</h3>
    <p class="benefits__paragraph">
      In my mind the learning proccess is never finished, I keep an open mind
      and work consistently at adding to my skill set.
    </p>
  </div>
  <div class="benefits benefits--2">
    <h3 class="benefits__header">Thoughtful</h3>
    <p class="benefits__paragraph">
      Decisions I make affect not only me but the team I am working with, I
      thoroughly consider each solution to a problem.
    </p>
  </div>
  <div class="benefits benefits--3">
    <h3 class="benefits__header">Adaptable</h3>
    <p class="benefits__paragraph">
      Over time technologies change, I can quickly update my skill set to match
      the new tools we use to make the best user exeperience possible.
    </p>
  </div>
  <img alt="avatar" src="/assets/avatar.jpg" class="avatar" />
  <div class="technologies">
    <h2 class="header--2">Technologies</h2>
    <div class="technologies__container">
      <img
        class="technologies__logo"
        alt="Angular logo"
        src="/assets/angular.svg"
      />
      <img
        class="technologies__logo--rails"
        alt="Rails logo"
        src="/assets/rails-logo.svg"
      />
      <img
        class="technologies__logo"
        alt="Sass logo"
        src="/assets/sass-logo.svg"
      />
    </div>
  </div>

  <div class="previous-works" id="portfolio">
    <h2 class="header--2">Previous Works</h2>
    <div class="previous-works__container"></div>
  </div>
  <footer class="footer"></footer>
</div>
