@import "../abstract";

.header {
  width: 100%;
  height: 100vh;
  display: grid;

  grid-template-columns: 1fr repeat(2, 1/6 * 100%);
  grid-template-rows: 10rem 1fr 10rem;
  grid-template-areas:
    "nav . ."
    "hero hero .";

  align-items: center;

  // padding-left: 1/24 * 100%;
  position: relative;
  // background-color: var(--color-primary);

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--color-primary);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    width: 1/3 * 100%;
    height: 80%;
    top: 0;
    right: 0;
  }
}

.nav {
  width: 100%;
  grid-area: nav;
}

.nav__container {
  display: flex;
  justify-content: space-evenly;
}

@keyframes nav-hover {
  0% {
    height: 0;
  }

  20% {
    height: 100%;
    width: 0.3rem;
  }

  100% {
    height: 100%;
    width: 100%;
  }
}

.hero {
  grid-area: hero;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero--sub {
  display: flex;
  flex-direction: column;
}

.hero__heading {
  font-family: $font-primary;
  font-size: 8rem;
  color: var(--color-text);
  line-height: 1;
  margin: 0;
}

.hero__sub-heading {
  font-size: 2.5rem;
  margin-left: 1rem;
  color: var(--color-text);
}
