<nav class="nav">
  <ul class="nav__container">
    <li class="nav__item">
      <app-nav-button [text]="'Home'"></app-nav-button>
    </li>
    <li class="nav__item">
      <app-nav-button [text]="'Portfolio'"></app-nav-button>
    </li>
    <li class="nav__item">
      <app-nav-button [text]="'About'"></app-nav-button>
    </li>
    <li class="nav__item">
      <app-nav-button [text]="'Contact'"></app-nav-button>
    </li>
  </ul>
</nav>
<div class="site-container">
  <header class="header">
    <div class="hero">
      <h1 class="hero__heading">Coralynn Colombe</h1>
      <h2 class="hero__sub-heading">Thoughtful design and development</h2>
    </div>
  </header>
</div>
