<header class="header">
  <nav class="nav">
    <ul class="nav__container">
      <li class="nav__item">
        <app-nav-button [text]="'Lorem'"></app-nav-button>
      </li>
      <li class="nav__item">
        <app-nav-button [text]="'Ipsum'"></app-nav-button>
      </li>
      <li class="nav__item">
        <app-nav-button [text]="'Dolar'"></app-nav-button>
      </li>
      <li class="nav__item">
        <app-nav-button [text]="'Sit'"></app-nav-button>
      </li>
      <li class="nav__item">
        <app-nav-button [text]="'Amor'"></app-nav-button>
      </li>
    </ul>
  </nav>
  <div class="hero">
    <div class="hero--sub">
      <h1 class="hero__heading">Coralynn Colombe</h1>
      <h2 class="hero__sub-heading">Sub Heading</h2>
    </div>
  </div>
</header>
