@import "../abstract";

.header {
  width: 100%;
  height: 100vh;
  display: grid;

  grid-template-columns: env(safe-area-inset-left, 0) 1fr repeat(2, 1/6 * 100%);
  grid-template-rows: env(safe-area-inset-top, 0) 10rem 1fr 10rem;
  grid-template-areas:
    ". . . ."
    ". nav . ."
    ". hero hero .";

  align-items: center;
  justify-items: center;

  // padding-left: 1/24 * 100%;
  position: relative;
  // background-color: var(--color-primary);

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--color-primary);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    width: 1/3 * 100%;
    height: 80%;
    top: 0;
    right: 0;
    z-index: 10;
  }

  @media only screen and (max-width: 800px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 13.5rem;
    grid-template-areas: "hero";

    &::before {
      width: 100%;
      height: calc(13.5rem + (env(safe-area-inset-bottom, 0) / 2));
      clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%);
      position: fixed;
      top: auto;
      right: auto;
      bottom: 0;
      right: 0;
      z-index: 0;
    }
  }
}

.nav {
  width: 100vw;
  position: fixed;
  height: 10rem;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: center;

  @media only screen and (min-width: 801px) {
    background-color: var(--color-background);
    &::after {
      content: "";
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      min-height: 10vh;
      max-height: 10rem;
      min-width: 1/3 * 12.5vw;
      max-width: 1/3 * 12.5rem;
      background-color: var(--color-primary);
      clip-path: polygon(0 0, 100% 0, 100% 100%);
      :host(.trianglevisible) & {
        opacity: 0;
      }
    }
  }

  @media only screen and (max-width: 800px) {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding-bottom: calc(2.5rem + (env(safe-area-inset-bottom, 0) / 2));
  }
}

.nav__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: calc(100% - 1 / 3 * 100%);

  @media only screen and (max-width: 800px) {
    width: 100%;
  }
}

@keyframes nav-hover {
  0% {
    height: 0;
  }

  20% {
    height: 100%;
    width: 0.3rem;
  }

  100% {
    height: 100%;
    width: 100%;
  }
}

.hero {
  grid-area: hero;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;

  @media only screen and (max-width: 800px) {
  }
}

.hero__heading {
  font-family: $font-primary;
  font-size: 8rem;
  color: var(--color-text);
  line-height: 1;
  margin: 0;
}

.hero__sub-heading {
  font-size: 2.5rem;
  // margin-left: 1rem;
  color: var(--color-text);

  @media only screen and (max-width: 800px) {
    // margin-left: 0;
  }
}
