@import "../abstract";

.nav {
  width: 100vw;
  position: fixed;
  height: $nav-height;
  top: env(safe-area-inset-top, 0);
  left: env(safe-area-inset-left, 0);
  z-index: 5;
  display: flex;
  align-items: center;

  @media only screen and (min-width: 701px) {
    background-color: var(--color-background);
    &::after {
      content: "";
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      min-height: 10vh;
      max-height: $nav-height;
      min-width: 1/3 * 12.5vw;
      max-width: 1/3 * ($nav-height * 1.25);
      background-color: var(--color-primary);
      clip-path: polygon(0 0, 100% 0, 100% 100%);
      :host(.trianglevisible) & {
        opacity: 0;
      }
    }
  }
}

.nav__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: calc(100% - 1 / 3 * 100%);
  z-index: 10;

  @media only screen and (max-width: 700px) {
    width: 100%;
  }
}

.site-container {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-gap: $grid-gap-desktop;

  grid-template-areas:
    "head head head"
    "ben1 ben2 ."
    "ben3 avat ."
    ". tech tech"
    "works works works"
    "foot foot foot";
  margin: env(safe-area-inset-top, 0) env(safe-area-inset-left, 0)
    env(safe-area-inset-bottom, 0) env(safe-area-inset-right, 0);
  padding: 0 $grid-gap-desktop;

  @media only screen and (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $grid-gap-mobile-vertical $grid-gap-mobile-horizontal;
    grid-template-areas:
      "head head"
      "ben1 ben2"
      "ben3 avat"
      "tech tech"
      "works works"
      "foot foot";
  }

  @media only screen and (max-width: 700px) {
    margin: env(safe-area-inset-top, 0) env(safe-area-inset-right, 0)
      env(safe-area-inset-bottom, 0) env(safe-area-inset-left, 0);
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-areas:
      "head"
      "avat"
      "ben1"
      "ben2"
      "ben3"
      "tech"
      "works"
      "foot";
  }
}

.header {
  width: 100%;
  min-height: 55vh;
  max-height: min-content;
  display: grid;

  grid-area: head;

  grid-template-columns: 1fr repeat(2, 1/6 * 100%);
  grid-template-rows: $nav-height 1fr 10rem;
  grid-template-areas:
    "nav . ."
    "hero hero .";

  align-items: center;
  justify-items: center;

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--color-primary);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    width: 1/3 * 100%;
    height: 80%;
    top: 0;
    right: calc(0rem - env(safe-area-inset-right, 0));
    z-index: 10;
  }

  @media only screen and (max-width: 1000px) {
    min-height: 85vh;
  }

  @media only screen and (max-width: 700px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "hero";

    &::before {
      width: 100%;
      height: calc(10rem + (env(safe-area-inset-top, 0)));
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
}

.hero {
  grid-area: hero;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15vh;

  text-align: center;
}

.hero__heading {
  font-family: $font-primary;
  font-size: 8rem;
  color: var(--color-text);
  line-height: 1;
  margin: 0;
}

.hero__sub-heading {
  font-size: 2.5rem;
  color: var(--color-text);
}

.benefits--before {
  position: absolute;
  top: -0.3rem; // -0.3rem to adjust for border on .benefits elements
  left: -0.3rem;
  transform: translateY(-100%);
}

.benefits {
  background-color: var(--color-background-darker);
  min-height: 30rem;
  min-height: max-content;
  padding: 3rem 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  @media only screen and (max-width: 700px) {
    margin-left: $grid-gap-mobile-horizontal;
    margin-right: $grid-gap-mobile-horizontal;
  }
}

#benefits-1 {
  grid-area: ben1;
}
#benefits-2 {
  grid-area: ben2;
}
#benefits-3 {
  grid-area: ben3;
}

.benefits__header {
  color: var(--color-text);
  font-size: 3rem;
  line-height: 1;
  margin: 0;
}

.benefits__paragraph {
  color: var(--color-text);
  font-size: 2rem;
}

.benefits,
.avatar {
  @include element-border;
  @include element-shadow;
}

.avatar {
  // TODO Move calc into variable
  height: $avatar-size-calc;
  max-height: 30rem;
  width: $avatar-size-calc;
  max-width: 30rem;
  justify-self: center;
  align-self: center;
  grid-area: avat;
  border-radius: 50%;
  @media only screen and (max-width: 700px) {
    height: 100%;
    width: 100%;
    margin-left: $grid-gap-mobile-horizontal;
    margin-right: $grid-gap-mobile-horizontal;
    margin-bottom: $grid-gap-mobile-vertical;
  }
}

.technologies {
  grid-area: tech;
  margin-top: $section-margin-desktop;

  @media only screen and (max-width: 700px) {
    margin-top: $section-margin-mobile;
    margin-left: $grid-gap-mobile-horizontal;
    margin-right: $grid-gap-mobile-horizontal;
  }
}

.technologies__container {
  width: 100%;
  min-height: 30rem;
  max-height: max-content;
  background-color: var(--color-background-darker);
  @include element-border;
  @include element-shadow;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media only screen and (max-width: 700px) {
    flex-direction: column;
  }
}

.technologies__logo {
  width: 15%;

  @media only screen and (max-width: 700px) {
    width: 35%;
    &:first-child {
      margin-top: 7rem;
    }
  }
}

.technologies_logo-rails {
  width: 30%;
  @media only screen and (max-width: 700px) {
    width: 50%;
  }
}

.technologies__logo,
.technologies_logo-rails {
  @media only screen and (max-width: 700px) {
    margin-bottom: 7rem;
  }
}

.previous-works {
  grid-area: works;
  margin-top: $section-margin-desktop;
  @media only screen and (max-width: 700px) {
    margin-top: $section-margin-mobile;
    margin-left: $grid-gap-mobile-horizontal;
    margin-right: $grid-gap-mobile-horizontal;
  }
}

.previous-works__container {
  height: 45rem; // Placeholder
  width: 100%;
  background-color: var(--color-background-darker);
  @include element-border;
  @include element-shadow;
}

.footer {
  grid-area: foot;
  background-color: var(--color-secondary);
  height: 30rem; // Placeholder
  width: 100vw;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  transform: translateX(
      calc(-#{$grid-gap-desktop} - env(safe-area-inset-left, 0))
    )
    translateY(env(safe-area-inset-bottom, 0));

  @media only screen and (max-width: 700px) {
    transform: translateX(0) translateY(env(safe-area-inset-bottom, 0));
  }
}
