@import "../../abstract";

.btn {
  @media only screen and (prefers-color-scheme: light) {
    --color-box-shadow: #{hsla(0, 0, 5%, 0.35)};
  }

  @media only screen and (prefers-color-scheme: dark) {
    --color-box-shadow: #{hsla(0, 0, 5%, 0.6)};
  }

  border: none;
  text-decoration: none;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  font-family: $font-primary;
  color: var(--color-text-invert);
  transition: all 0.2s;

  &:hover {
    transform: translateY(-0.4rem);
    box-shadow: 0 0.5rem 1.5rem var(--color-box-shadow);
  }

  &:active {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.3rem 1rem var(--color-box-shadow);
  }

  &:not(:last-child) {
    margin-right: 3rem;
  }

  :host(.btn-flat) & {
    background-color: var(--background-color);
    border-radius: 0;
  }

  :host(.btn-natural) & {
    background-image: var(--background-image);
    border-radius: 0.6rem;
  }

  :host(.btn-primary) & {
    @media only screen and (prefers-color-scheme: light) {
      --background-image: linear-gradient(
        to bottom right,
        #{mix(#fff, $color-primary-light, 30%)},
        #{mix(#fff, $color-primary-light, 00%)}
      );
    }

    @media only screen and (prefers-color-scheme: dark) {
      --background-image: linear-gradient(
        to bottom right,
        #{mix(#fff, $color-primary-dark, 15%)},
        #{mix(#000, $color-primary-dark, 35%)}
      );
    }

    --background-color: var(--color-primary);
  }

  :host(.btn-secondary) & {
    @media only screen and (prefers-color-scheme: light) {
      --background-image: linear-gradient(
        to bottom right,
        #{mix(#fff, $color-secondary-light, 20%)},
        #{mix(#000, $color-secondary-light, 20%)}
      );
    }

    @media only screen and (prefers-color-scheme: dark) {
      --background-image: linear-gradient(
        to bottom right,
        #{mix(#fff, $color-secondary-dark, 15%)},
        #{mix(#000, $color-secondary-dark, 35%)}
      );
    }

    --background-color: var(--color-secondary);
  }
}
