@import "../../abstract";

.btn {
  @media only screen and (prefers-color-scheme: light) {
    --button-box-shadow: #{hsla(0, 0, 5%, 0.35)};
  }

  @media only screen and (prefers-color-scheme: dark) {
    --button-box-shadow: #{hsla(0, 0, 5%, 0.6)};
  }

  border-radius: 0;
  text-decoration: none;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  font-family: $font-primary;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-0.4rem);
    box-shadow: 0 0.5rem 1.5rem var(--button-box-shadow);
  }

  &:active {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.3rem 1rem var(--button-box-shadow);
  }

  &:not(:last-child) {
    margin-right: 3rem;
  }

  :host(.btn-flat) & {
    background-color: var(--button-color);
    color: var(--color-text-invert);
    border: none;
  }

  :host(.btn-outline) & {
    background-color: transparent;
    border: 0.2rem solid var(--button-color);
    color: var(--button-color);
  }

  :host(.btn-primary) & {
    --button-color: var(--color-primary);
  }

  :host(.btn-secondary) & {
    --button-color: var(--color-secondary);
  }
}
