$color-primary-light: hsl(335, 83%, 45%);
$color-primary-dark: hsl(335, 83%, 36%);
$color-secondary-light: hsl(198, 63%, 40%);
$color-secondary-dark: hsl(198, 63%, 32%);
$color-background-dark: hsl(198, 69%, 10%);
$color-background-dark-darker: hsl(198, 69%, 7%);
$color-background-light: hsl(198, 29%, 95%);
$color-background-light-darker: hsl(198, 29%, 90%);
$color-text-dark: hsl(198, 29%, 95%);
$color-text-light: hsl(198, 69%, 6%);
$color-text-muted-dark: mix(#000, $color-text-dark, 45%);
$color-text-muted-light: mix(#fff, $color-text-light, 65%);
$color-shadow-light: hsla(198, 29%, 30%, 18%);
$color-shadow-dark: hsla(198, 29%, 8%, 50%);

:root {
  --color-background: #{$color-background-light};
  --color-background-darker: #{$color-background-light-darker};
  --color-background-invert: #{$color-background-dark};
  --color-text: #{$color-text-light};
  --color-text-primary: #{$color-text-dark};
  --color-text-invert-primary: #{$color-text-light};
  --color-text-invert: #{$color-text-dark};
  --color-text-muted: #{$color-text-muted-light};
  --color-primary: #{$color-primary-dark};
  --color-secondary: #{$color-secondary-light};
  --color-shadow: #{$color-shadow-light};
  @media (prefers-color-scheme: dark) {
    --color-background: #{$color-background-dark};
    --color-background-darker: #{$color-background-dark-darker};
    --color-background-invert: #{$color-background-light};
    --color-text: #{$color-text-dark};
    --color-text-primary: #{$color-text-dark};
    --color-text-invert-primary: #{$color-text-light};
    --color-text-invert: #{$color-text-light};
    --color-text-muted: #{$color-text-muted-dark};
    --color-primary: #{$color-primary-dark};
    --color-secondary: #{$color-secondary-dark};
    --color-shadow: #{$color-shadow-dark};
  }
}

$font-primary: "Work Sans", sans-serif;
$font-secondary: "IBM Plex Sans", sans-serif;

$nav-height: 7rem;
$grid-gap-desktop: 5rem;
$grid-gap-mobile-horizontal: 1rem;
$grid-gap-mobile-vertical: 5rem;
$section-margin-desktop: 10rem;
$section-margin-mobile: 3rem;
$avatar-size-calc: calc(
  1 / 3 *
    (
      100vw -
        (
          #{4 * $grid-gap-desktop} + (env(safe-area-inset-left, 0) +
                env(safe-area-inset-right, 0))
        )
    )
);

@mixin element-border {
  border: 0.3rem solid var(--color-secondary);
}
@mixin element-shadow {
  box-shadow: 0 1rem 2rem var(--color-shadow);
}
